{% extends 'blog/base_template.html' %}
{% block content %}


<div class="container my-4 text-left">
    <div class="">
        <h1>Создавайте публикации за считаные минуты</h1>
    </div>
    <div class="card mb-4 box-shadow my-3">
              <div class="card-header text-center">
                  <h3>Статистика публикаций сайта</h3>
              </div>
              <div class="card-body">
                  <div class="row text-center ">
                      <div class="col-12">
                          <table class="table">
                              <tr>
                                  <th><p>Количество публикаций</p></th>
                                  <th><p>Количество premium публикаций</p></th>
                                  <th><p>Количество пользователей</p></th>
                                  <th><p>Количество пользователей с подпиской</p></th>
                              </tr>
                              <tr>
                                  <td><p>{{ total_content }}</p></td>
                                  <td><p>{{ premium_content }}</p></td>
                                  <td><p>{{ all_users }}</p></td>
                                  <td><p>{{ premium_user }}</p></td>
                              </tr>
                          </table>
                      </div>
                  </div>
              </div>
</div>
{% endblock %}